.card {
    border-radius: 20px !important;
}

.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-text {
    color: rgb(115, 115, 115);
    text-align: justify;
}

@media (max-width: 1260px) {
    .card-text {
        font-size: 12px;
    }
}

