@use './../../styles/colors' as *;
@use './../../styles/variables' as *;

.expeditions-container {
  font-family: $app-font;
  background-color: rgb(230, 230, 230);
  padding-top: 50px;
}

.text-background {
  background: rgb(115, 115, 115);
  color: white;
}

.intro {
  text-align: center;
  padding-left: 12%;
  padding-right: 12%;
}

.expeditions app-card {
  display: block;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border-radius: 20px;
}

.expeditions app-card:hover {
  transform: scale(1.02); /* blago povećanje */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.expeditions {
  padding: 10px;
}

.card-wrapper {
  flex: 1 1 50px; /* fleksibilna širina, minimalno 250px, raste po potrebi */
  max-width: 100px; /* maksimalna širina kartice */
  display: flex;
  justify-content: center;
}


@media (max-width: 1260px) {
  .expeditions-container {
    padding-top: 37px;
  }

  .intro {
    padding: 1%;
    font-size: 12px
  }
}
