@use './../../styles/variables' as *;

.shopping-cart-container {
    margin-top: 50px;
    padding-bottom: 30px;
    font-family: $app-font;
    background-color: #e9e9e9;
}

.order-button {
    display: flex;
    justify-self: end;
    padding: 5px 20px;
}

@media (max-width: 1260px) {
  .shopping-cart-container {
    margin-top: 34px;
    border-radius: 15px;
  }
}